{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h1 class="heading text-center">
        Welcome in {{ app.user.username ?? 'Student' }} on school system webpage
    </h1>

{% endblock %}

{% block javascripts %}{% endblock %}