$danger: #ff0000;
$mb20: 20px;

.add-icon{
    font-size: 20px !important;
}

.fa-check{
    color: green;
}

.fa-times{
    color: $danger;
}

.fa-highlighter{
    color: cornflowerblue;
}

.createQuestion{
    margin-bottom: $mb20;
}

.danger{
    border: 1px solid $danger;
}

.green{
    color: green;
}