{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h1>Login Form</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}{% endblock %}